<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pokemon.nome %> - Detalhes</title>
</head>
<body>
  <h1><%= pokemon.nome %></h1>
  <p>Tipo: <%= pokemon.tipo %></p>
  <p>Altura: <%= pokemon.altura %>m</p>
  <p>Peso: <%= pokemon.peso %>kg</p>
  <p>Nível de Poder: <%= pokemon.nivelDePoder %></p>

  <a href="/treinadores">Voltar para a lista de treinadores</a>
</body>
</html>
